# npmignore file so that we don't use the gitignore file when doing an npm publish

*.bak
*.orig
*.tgz

# ignore travis files
*.yml
*.sh

# ignore testing files
*.jscsrc

# ignoring the idea folder from jetbrains
.idea/*

# ignore test folder and dist folder
dist/*
test/*

# ignore screenshots when publishing
screenshots/*

# ignore log files
logfiles/*