# npmignore file so that we don't use the gitignore file when doing an npm publish

# ignoring the idea folder from jetbrains
.idea/*

# ignore test folder and dist folder
dist/*
test/*

# ignore log files
logfiles/*