body {
    padding-top: 10px;
    color: black;
    background-color: white;
}

#menu {
    background-color: white;
    overflow: hidden;
    min-height: 50px;
}

.affix {
    width: 100%;
    top: 0;
    padding-bottom: 10px;
    /*position: center;*/
 }

#filterButton {
    width: 75%;
}

#saveButton {
    width: 75%;
}

#resultDiv {
    overflow-y: auto;
    overflow-x: auto;
    padding-top: 12.5%;
}

#resultTable td, th {
    border: solid black 1px;
}

.major {
	color: red;
}

.minor {
	color: orange;
}

.patch {
	color: yellow;
}

.upToDate {
	color: green;
}