body {
    padding-top: 10px;
    color: black;
    background-color: white;
}

#menu {
    background-color: white;
}

.affix {
    width: 100%;
    top: 0;
    /*position: center;*/
 }

#filterButton {
    width: 75%;
}

#saveButton {
    width: 75%;
}